*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
/* shared style */

.logo{
    font-weight: 800;
    font-size: 45px;

}
.logo span{
    color: #FD6E0A;
}
.btn{
    background: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

/* Main style */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 1140px;
    /* border: 1px solid tomato; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    /* justify-content: center; */

}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}
